DB_HOST=localhost
DB_PORT=3308
DB_USER=root
DB_PASSWORD=YOUR PASSWORD HERE
DB_NAME=ifamous_dbms
SECRET_PEPPER=k7f_92!mZpQ_utm_IFAMOUS_secure
JWT_SECRET = root

# AI Model
OLLAMA_MODEL=gemma4:31b-cloud
VITE_API_URL=http://localhost:3000