DB_HOST=localhost
DB_PORT=3308
DB_USER=root
DB_PASSWORD=YOUR PASSWORD HERE
DB_NAME=ifamous_dbms
DB_SSL=false # Set to true if connecting to cloud DBs like Aiven
DB_SSL_REJECT_UNAUTHORIZED=true # Set to false to bypass certificate validation for development
SECRET_PEPPER=k7f_92!mZpQ_utm_IFAMOUS_secure
JWT_SECRET = "root"

# AI Model
OLLAMA_MODEL=gemma4:31b-cloud
OLLAMA_BASE_URL=https://ollama.com
OLLAMA_API_KEY=YOUR API KEY HERE
# if you want to run locally just remove or comment out the API KEY


# Frontend configuration
VITE_API_URL=http://localhost:3000